Recruit Ai/recruit-ai-app/docs/n8n-workflows/interview-reschedule-handler.json
{
  "name": "Interview Reschedule Handler",
  "nodes": [
    {
      "id": "c2000001-0001-4000-8000-000000000001",
      "name": "Gmail Trigger",
      "parameters": {
        "event": "messageReceived",
        "filters": { "q": "subject:Interview Invitation OR subject:Interview Rescheduled" },
        "simple": true
      },
      "position": [0, 200],
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "credentials": {}
    },
    {
      "id": "c2000001-0002-4000-8000-000000000002",
      "name": "Parse Reply",
      "parameters": {
        "jsCode": "// Extract candidate reply info\nconst items = $input.all();\n\nreturn items.map(item => {\n  const email = item.json;\n  return {\n    json: {\n      from_email: email.from?.value?.[0]?.address || email.from || '',\n      from_name: email.from?.value?.[0]?.name || '',\n      subject: email.subject || '',\n      body_text: email.text || email.snippet || '',\n      received_date: email.date || new Date().toISOString(),\n      thread_id: email.threadId || '',\n      message_id: email.id || '',\n    }\n  };\n});",
        "mode": "runOnceForAllItems"
      },
      "position": [280, 200],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "c2000001-0003-4000-8000-000000000003",
      "name": "Check New Date",
      "parameters": {
        "jsCode": "// Validate the requested date against weekends & holidays, or find next available\nconst items = $input.all();\n\nconst holidays2026 = [\n  '2026-01-26','2026-03-10','2026-04-03','2026-04-14',\n  '2026-05-01','2026-08-15','2026-08-19','2026-09-25',\n  '2026-10-02','2026-10-12','2026-11-02','2026-11-03',\n  '2026-11-19','2026-12-25'\n];\n\nfunction isBusinessDay(dt) {\n  if (dt.weekday === 6 || dt.weekday === 7) return false;\n  return !holidays2026.includes(dt.toFormat('yyyy-MM-dd'));\n}\n\nfunction getNextBusinessDay(fromDate) {\n  let d = fromDate.plus({ days: 1 });\n  let attempts = 0;\n  while (!isBusinessDay(d) && attempts < 10) {\n    d = d.plus({ days: 1 });\n    attempts++;\n  }\n  return d;\n}\n\nconst now = DateTime.now().setZone('Asia/Kolkata');\nconst proposedDate = getNextBusinessDay(now);\n\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    new_proposed_date: proposedDate.toFormat('yyyy-MM-dd'),\n    new_proposed_time: '10:00 AM IST',\n    new_proposed_day: proposedDate.toFormat('EEEE, MMMM dd, yyyy'),\n  }\n}));",
        "mode": "runOnceForAllItems"
      },
      "position": [560, 200],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "c2000001-0004-4000-8000-000000000004",
      "name": "Reschedule Agent",
      "parameters": {
        "hasOutputParser": false,
        "options": {},
        "text": "=You are a professional HR assistant handling an interview reschedule request.\n\nCANDIDATE REPLY:\n- From: {{ $json.from_name }} ({{ $json.from_email }})\n- Their message: {{ $json.body_text }}\n\nNEW PROPOSED INTERVIEW:\n- Date: {{ $json.new_proposed_day }}\n- Time: {{ $json.new_proposed_time }}\n\nWRITE a professional HTML email that:\n1. Acknowledges their reschedule request\n2. Proposes the new date and time above\n3. Asks them to confirm the new date\n4. Subject line: \"Interview Rescheduled\"\n5. Sign off as the Recruitment Team\n\nRETURN ONLY valid JSON:\n{\"subject\": \"...\", \"body\": \"<html>...</html>\", \"to_email\": \"{{ $json.from_email }}\"}\n\nNo markdown. ONLY JSON."
      },
      "position": [840, 200],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7
    },
    {
      "id": "c2000001-0005-4000-8000-000000000005",
      "name": "Gemini for Reschedule",
      "parameters": { "modelName": "models/gemini-2.0-flash", "options": {} },
      "position": [740, 400],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "id": "c2000001-0006-4000-8000-000000000006",
      "name": "Send Reschedule Email",
      "parameters": {
        "message": "={{ $json.output.body }}",
        "operation": "send",
        "options": { "senderName": "Recruitment Team" },
        "resource": "message",
        "sendTo": "={{ $json.output.to_email }}",
        "subject": "={{ $json.output.subject }}"
      },
      "position": [1120, 200],
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "credentials": {}
    }
  ],
  "connections": {
    "Gmail Trigger": { "main": [[{ "index": 0, "node": "Parse Reply", "type": "main" }]] },
    "Parse Reply": { "main": [[{ "index": 0, "node": "Check New Date", "type": "main" }]] },
    "Check New Date": { "main": [[{ "index": 0, "node": "Reschedule Agent", "type": "main" }]] },
    "Gemini for Reschedule": { "ai_languageModel": [[{ "index": 0, "node": "Reschedule Agent", "type": "ai_languageModel" }]] },
    "Reschedule Agent": { "main": [[{ "index": 0, "node": "Send Reschedule Email", "type": "main" }]] }
  },
  "settings": { "executionOrder": "v1" }
}
